@{
    ViewData["Title"] = "Panel Oficera Dyżurnego";
}

<h1 style="text-align: center; color: #2C3E50; font-family: 'Impact', sans-serif; text-shadow: 2px 2px #000;">
    Panel Oficera Dyżurnego
</h1>

<div style="background-color: #2A2F33; color: #EEE; padding: 20px; max-width: 600px; margin: 20px auto; border-radius: 10px; border: 2px solid #3E5057; font-family: 'Arial', sans-serif;">
    <ul style="list-style-type: none; padding: 0;">
        <li style="margin-bottom: 15px;">
            <a href="@Url.Action("HarmonogramKC", "Dyzurny")"
               style="color: #4CAF50; text-decoration: none; font-size: 1.2em; font-weight: bold;">
                ➤ Dodaj służbę do harmonogramu
            </a>
        </li>
        <li>
            <a href="@Url.Action("Punktacja", "Dyzurny")">Modyfikowanie punktacji żołnierzy</a>
        </li>
        <li style="margin-bottom: 15px;">
            <a href="@Url.Action("ListaZwolnien", "Dowodca")"
               style="color: #4CAF50; text-decoration: none; font-size: 1.2em; font-weight: bold;">
                ➤ Wgląd do Zwolnień Żołnierzy
            </a>
        </li>
        <li>
            <a href="/Account/Logout"
               style="color: #E74C3C; text-decoration: none; font-size: 1.2em; font-weight: bold;">
                ➤ Wyloguj się
            </a>
        </li>
    </ul>
</div>

