@{
    ViewData["Title"] = "Panel Oficera Dyżurnego";
}

<h1>Panel Oficera Dyżurnego</h1>

<div>
    <ul>
        <li>
            <a href="@Url.Action("sluzby", "Dowodca")">Dodaj służbę do harmonogramu</a>
        </li>
        <li>
            <a href="/Account/Logout"
               style="color: #E74C3C; text-decoration: none; font-size: 1.2em; font-weight: bold;">
                ➤ Wyloguj się
            </a>
        </li>
        <li><a href="/Account/Logout">Wyloguj się</a></li>
    </ul>
</div>

<hr />

<p>
    <a asp-action="Index" asp-controller="Home">Powrót do strony głównej</a>
</p>
