@{
    ViewData["Title"] = "Panel Oficera Dyżurnego";
}

<h1>Panel Oficera Dyżurnego</h1>

<div>
    <ul>
        <li>
            <a href="@Url.Action("sluzby", "Dowodca")">Dodaj służbę do harmonogramu</a>
        </li>
        <li>
            <a href="@Url.Action("Schedule", "Dyzurny")">Wgląd do Punktacji Żołnierzy</a>
        </li>
        <li><a href="/Account/Logout">Wyloguj się</a></li>
    </ul>
</div>

<hr />

<p>
    <a asp-action="Index" asp-controller="Home">Powrót do strony głównej</a>
</p>
