@model IEnumerable<WebApplication2.Models.Harmonogram>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Strona Główna - Niezalogowany";
}

<h1>Witamy w naszej aplikacji!</h1>
<p>Aplikacja służy do monitorowania systemu służb - harmonogramu i punktów</p>

@if (ViewBag.Error != null)
{
    <p style="color:red;">@ViewBag.Error</p>
}

<!-- Formularz logowania -->
<form action="/Account/Login" method="post">
    @Html.AntiForgeryToken()
    <div>
        <label for="login">Login:</label>
        <input type="text" id="login" name="login" required />
    </div>

    <div>
        <label for="haslo">Haslo:</label>
        <input type="password" id="haslo" name="haslo" required />
    </div>
    <button type="submit">Zaloguj się</button>
</form>

