@model IEnumerable<WebApplication2.Models.Harmonogram>

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <style>
        body {
            font-family: 'Poppins', Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-image: linear-gradient(45deg, rgba(3, 34, 40, 0.6) 0%, rgba(15, 24, 16, 0.6) 100%), url('home.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            color: #ecf0f1;
        }

        h1 {
            font-family: 'Special Elite', cursive;
            font-size: 96px;
            text-align: center;
            margin-top: 50px;
            color: #ffffff;
        }

        p {
            font-family: 'Poppins', Arial, sans-serif;
            font-size: 24px;
            text-align: center;
            margin-bottom: 30px;
            color: #ffffff;
        }

        .container {
            max-width: 500px;
            max-height: 500px;
            margin: 0 auto;
            padding: 30px;
            background-color: rgba(255, 255, 255, 0.4);
            border-radius: 15px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            font-size: 24px;
            font-family: 'Poppins', Arial, sans-serif;
            color: #ffffff;
            margin-bottom: 10px;
        }

        input {
            width: calc(100% - 5px);
            padding: 10px;
            font-size: 18px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.2);
            color: #ffffff;
            outline: none;
            margin: 0 auto;
            margin-bottom: 10px;
            box-sizing: border-box;
        }

        input::placeholder {
            color: rgba(255, 255, 255, 0.7);
            font-size: 18px; 
            font-family: 'Poppins', Arial, sans-serif;
        }

        button {
            width: 100%;
            padding: 12px;
            font-size: 24px;
            font-family: 'Poppins', Arial, sans-serif;
            background-image: linear-gradient(to right, #03340B, #152416);
            color: #ffffff;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: background 0.3s;
            margin-top: 20px;
        }

            button:hover {
                background-image: linear-gradient(to right, #152416, #03340B);
            }
    </style>
</head>
<body>
    <h1>WITAMY W NASZEJ APLIKACJI!</h1>
    <p>Aplikacja służy do monitorowania systemu służb - harmonogramu i punktów</p>

    @if (ViewBag.Error != null)
    {
        <div class="error-message">
            <p>@ViewBag.Error</p>
        </div>
    }

    <!-- Formularz logowania -->
    <div class="container">
        <form action="/Account/Login" method="post">
            @Html.AntiForgeryToken()

            <div>
                <label for="login">Login:</label>
                <input type="text" id="login" name="login" placeholder="example@gmail.com" required />
            </div>

            <div>
                <label for="haslo">Hasło:</label>
                <input type="password" id="haslo" name="haslo" placeholder="********" required />
            </div>

            <button type="submit">Zaloguj się</button>
        </form>
    </div>
</body>
</html>
