@model IEnumerable<WebApplication2.Models.Harmonogram>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Harmonogram Służb";
}

<h1>Twój Harmonogram Służb</h1>

<table>
    <thead>
        <tr>
            <th>Data</th>
            <th>Służba</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Data.ToShortDateString()</td>
                <td>@(item.Sluzba != null ? item.Sluzba.Rodzaj : "Brak")</td>
            </tr>
        }
    </tbody>
</table>
